@media(min-width: 35em){
    .slideshow{
        height: 100vh; 
        position: relative; 
    }
}

@media(max-width: 35em){
    .slideshow{
        height: 60vh; 
        position: relative; 
    }
}